:root{
    --primary-color: pink;
    --text-color: red;
    --primary-border-radius: 30px;
    --circle-color: #24604C;
    --primary-font: "DynaPuff";
    --big-text: 80px;
}



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E9DE;
}


nav{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}

ul{
    display: flex;
    list-style-type: none;
    width: 28%;
}

#mid{
    justify-content: center;
    align-items: center;
    gap: 30px;
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover{
    cursor: pointer;
}

#left, #right{
   align-items: center;
}


#left li a img{
    height: 50px;
}

#right{
    justify-content: flex-end;
}

#right li a img{
    height: 50px;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


#bigDiv{
    display: flex;
    width: 70%;
    height: 650px;
    background-color: #F5BC64;
    border-radius: var(--primary-border-radius);
    flex-direction: column;
    position: relative;
}



#chefDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    height: 350px;
    background-color: #88BEE1;
    border-radius: var(--primary-border-radius);
    position: relative;
}

#chefDiv img{
    width: 130px;
    position: absolute;
    bottom: 0;
}

#chefText{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chefDiv button{
    position: relative;
    bottom: -110px;
    left: -10px;
    width: 170px;
    height: 50px;
    background-color: black;
    color: #F6BB64;
    font-family: var(--primary-font);
    border: none;
    border-radius: 20px;
}

#chefDiv button:nth-child(2){
    width: 55px;
    background-color: #F5BC64;
    color: gray;
}

#chefDiv button:hover{
    transform: scale(1.03);
    cursor: pointer;
}

#chefText h1{
    font-size: var(--big-text);
}



#cookieDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 28%;
    background-color: #EF9456;
    height: 600px;
    position: relative;
    top: -300px;
    border-radius: var(--primary-border-radius);
}

#cookieDiv div img{
    width: 250px;
}

#cookieDiv div h1{
    font-size: var(--big-text);
}

.priceTagCookie{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 130px;
    top: 280px;
}

.greenBlobCookie{
    width: 100px;
    height: 70px;
    rotate: calc(-20deg);
    border-radius: 70%;
    background-color: var(--circle-color);
    position: absolute;
    z-index: 2;
}

.textCookie{
    z-index: 9;
    position: relative;
    font-family: var(--primary-font);
}

.textCookie p{
    color: #F6BB64;
    font-size: 30px;
}


#picksDiv{
    display: flex;
    width: 70%;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: var(--primary-border-radius);
}


h1{
    font-family: var(--primary-font);
}


.overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.overlay img {
    width: 300px;
    position: absolute;
    z-index: 2;
}

.overlay h1 {
    font-size: 186px;
}

.overlay h1{
    color: white;
}


.greenBlob {
    width: 170px;
    height: 130px;
    rotate: calc(-20deg);
    border-radius: 70%;
    background-color: var(--circle-color);
    position: absolute;
    z-index: 2;

}

.text {
    z-index: 9;
    position: relative;
    font-family: var(--primary-font);
}


.priceTag {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 530px;
    top: 280px;

}

.priceTag p:not(:first-child){
    color: #F6BB64;
    font-size: 50px;
}

.priceTag p:first-child{
    color: #F6BB64;
}

.ratedDiv{
    background-color: blue;
    width: 100%;
}

.picksLeft{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    width: 25%;
    /* background-color: green; */
}

.picksLeft h1{
    font-size: var(--big-text);
}

.picksRight{
    width: 70%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product{
    background-color: green;
    width: 100%;
    height: 30%;
}

@font-face {
    font-family: DynaPuff;
    src: url("../fonts/DynaPuff-VariableFont_wdth\,wght.ttf");
}